.AlertDiv {
    position: absolute;
    right: 0;
    width: 30% !important;
    bottom: 80px !important;
    z-index: 99;

    @media(max-width: 577px) {
        width: 100% !important;
        bottom: 80px !important;
    }
}